@model FaqWiki.Sitefinity.Frontend.Mvc.Models.Response.ResponseListViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.DynamicContent.WidgetTemplates.Fields.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Data.ContentLinks;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Mvc.Models;
@using Telerik.Sitefinity.Web.DataResolving;
@using Telerik.Sitefinity.Model.ContentLinks;
@using Telerik.Sitefinity.Modules.Pages;

<ul>
@foreach (var response in Model.Responses)
{
    <li><a href="@response.Url">@response.Title</a></li>
}
</ul>

@Html.Action("Index", "ContentPager", new
{
    currentPage = Model.CurrentPage,
    totalPagesCount = Model.TotalPagesCount.Value,
    redirectUrlTemplate = ViewBag.RedirectPageUrlTemplate
})