<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.0.6421.0" initialized="True">
	<connectionStrings>
		<add connectionString="data source=.\SQLEXPRESS;UID=sa;PWD=Apple!123;initial catalog=FaqWiki_SF" name="Sitefinity" />
	</connectionStrings>
</dataConfig>