<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.0.6421.0" authCookieName=".SFAUTH-FaqWikiWebApp" rolesCookieName=".SFROLES-FaqWikiWebApp" validationKey="395B84C495F17BC0AE0F8F79F19AD06105CB2AF86F921CE9CCABD68F002CFA6184208E4B245DB5A7B8FC6246E74146B57EFD8F62CBC737BA158D2AA9322BDC8B" decryptionKey="EDBF78FCAFF80FE4E19A1F4706CFFCCEE7972448CCBBE025D5A0AF3B4DAE8A47" loggingCookieName=".SFLOG-FaqWikiWebApp">
	<securityTokenIssuers>
		<add key="FF8567A3F3E643337B184C5D3F00DECBBB3CDF5EF36ECE28FFC63D2752F7F676" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="FF8567A3F3E643337B184C5D3F00DECBBB3CDF5EF36ECE28FFC63D2752F7F676" realm="http://localhost" />
	</relyingParties>
	<applicationRoles>
		<role id="c31b3121-d28e-44ca-b967-5089b43a81c4" name="Everyone" config:flags="1" />
		<role id="82c8de99-802b-4b2e-8263-ba0f9fd67668" name="Anonymous" config:flags="1" />
		<role id="5c349979-bd5e-4517-a5af-e197d0bb4ebf" name="Authenticated" config:flags="1" />
		<role id="1aa93ee1-225d-4a16-a7f5-a3a2144e4e62" name="Owner" config:flags="1" />
		<role id="0fb80eca-2c21-472d-bf56-f33150651c0d" name="Administrators" config:flags="1" />
		<role id="ca797bbd-3456-43bb-9857-171a9733a52a" name="BackendUsers" config:flags="1" />
		<role id="c9011a6b-1e2d-421b-a77f-6dbd249d9b39" name="Authors" config:flags="1" />
		<role id="2d2d19e0-37dc-4c85-9343-a38ade5eada7" name="Editors" config:flags="1" />
		<role id="19d0c786-3e04-471b-be80-1fbd840c3f45" name="Designers" config:flags="1" />
		<role id="c9a68dd6-e0d0-472f-b469-c335d6688669" name="Users" config:flags="1" />
	</applicationRoles>
</securityConfig>