<?xml version="1.0" encoding="utf-8"?>
<systemConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.0.6421.0">
	<applicationModules>
		<add startupType="Disabled" name="News" config:flags="1" />
		<add startupType="Disabled" name="Blogs" config:flags="1" />
		<add startupType="Disabled" name="Events" config:flags="1" />
		<add startupType="Disabled" name="Lists" config:flags="1" />
		<add startupType="Disabled" name="ResponsiveDesign" config:flags="1" />
		<add startupType="Disabled" name="Forums" config:flags="1" />
		<add startupType="Disabled" name="Thunder" config:flags="1" />
		<add startupType="OnApplicationStart" name="Warmup" config:flags="1" />
	</applicationModules>
</systemConfig>